In [85]:
import pandas as pd
import numpy as np
import re
pd.set_option('display.max_columns', None)

In [86]:
df1 = pd.read_csv('world-data-2023_part1.csv', index_col=0)
df2 = pd.read_csv('world-data-2023_part2.csv', index_col=0)

In [87]:
df1.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

In [88]:
df2.head()

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"

Asegúrate de realizar los siguientes pasos:

1. Explora y carga ambos conjuntos de datos en pandas DataFrames.

2. Identifica las columnas comunes entre los dos conjuntos de datos.

3. Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

4. Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

In [89]:
df = df1.merge(df2, left_on='Country', right_on='country')
df.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"

In [90]:
df.drop(['country', 'Largest city'], axis=1, inplace=True)
df.shape

(195, 33)

Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

- No tengan espacios.

- Estén en minúscula.

- No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

- Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

- Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [91]:
df.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Life expectancy', 'Maternal mortality ratio', 'Minimum wage',
       'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population',
       'coordinates'],
      dtype='object')

In [92]:
nuevas_columnas = []
columnas = []
patron = re.compile(r'\([^)]*\)')

for columna in df.columns:
      
    if re.search(patron, columna):
        columna = columna.split('(')
        nuevas_columnas.append(columna[0].strip().lower())
    else:
        nuevas_columnas.append(columna.lower().strip())


for columna in nuevas_columnas:
    if ':' in columna:
        columnas.append(columna.replace(':', ''))
    elif '_' or '-' in columna:
        columnas.append(columna.replace('_', ' ').replace('-', ' '))
    else:
        columnas.append(columna)

In [93]:
columnas

['country',
 'density',
 'abbreviation',
 'agricultural land',
 'land area',
 'armed forces size',
 'birth rate',
 'calling code',
 'capital/major city',
 'co2 emissions',
 'cpi',
 'cpi change',
 'currency code',
 'fertility rate',
 'forested area',
 'gasoline price',
 'gdp',
 'gross primary education enrollment',
 'gross tertiary education enrollment',
 'infant mortality',
 'life expectancy',
 'maternal mortality ratio',
 'minimum wage',
 'official language',
 'out of pocket health expenditure',
 'physicians per thousand',
 'population',
 'population labor force participation',
 'tax revenue',
 'total tax rate',
 'unemployment rate',
 'urban population',
 'coordinates']

In [94]:
dicc = {}

for og, nv in zip(df.columns, columnas):
    dicc[og] = nv

dicc

{'Country': 'country',
 'Density\n(P/Km2)': 'density',
 'Abbreviation': 'abbreviation',
 'Agricultural Land( %)': 'agricultural land',
 'Land Area(Km2)': 'land area',
 'Armed Forces size': 'armed forces size',
 'Birth Rate': 'birth rate',
 'Calling Code': 'calling code',
 'Capital/Major City': 'capital/major city',
 'Co2-Emissions': 'co2 emissions',
 'CPI': 'cpi',
 'CPI Change (%)': 'cpi change',
 'Currency-Code': 'currency code',
 'Fertility Rate': 'fertility rate',
 'Forested Area (%)': 'forested area',
 'Gasoline Price': 'gasoline price',
 'GDP': 'gdp',
 'Gross primary education enrollment (%)': 'gross primary education enrollment',
 'Gross tertiary education enrollment (%)': 'gross tertiary education enrollment',
 'Infant mortality': 'infant mortality',
 'Life expectancy': 'life expectancy',
 'Maternal mortality ratio': 'maternal mortality ratio',
 'Minimum wage': 'minimum wage',
 'Official language': 'official language',
 'Out of pocket health expenditure': 'out of pocket health expenditure',
 'Physicians per thousand': 'physicians per thousand',
 'Population': 'population',
 'Population: Labor force participation (%)': 'population labor force participation',
 'Tax revenue (%)': 'tax revenue',
 'Total tax rate': 'total tax rate',
 'Unemployment rate': 'unemployment rate',
 'Urban_population': 'urban population',
 'coordinates': 'coordinates'}

In [95]:
df.rename(dicc, axis=1, inplace=True)

In [96]:
df

,country,density,abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2 emissions,cpi,cpi change,currency code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population labor force participation,tax revenue,total tax rate,unemployment rate,urban population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

La columnas `coordinates` tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la `longitud` y otra con la `latitud`. Una vez hecho, elimina la columna de coordinates.

In [97]:
df['coordinates'] = df['coordinates'].str.replace("(", "").str.replace(")", "").str.replace("'", "")
df['coordinates']

0        33.93911 , 67.709953
1       41.153332 , 20.168331
2        28.033886 , 1.659626
3        42.506285 , 1.521801
4      -11.202692 , 17.873887
                ...
190       6.42375 , -66.58973
191    14.058324 , 108.277199
192     15.552727 , 48.516388
193    -13.133897 , 27.849332
194    -19.015438 , 29.154857
Name: coordinates, Length: 195, dtype: object

In [98]:
df[['latitude', 'longitude']] = df['coordinates'].str.split(' , ', expand=True).get([0,1])

In [99]:
df.drop('coordinates', axis=1, inplace=True)

Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [100]:
lista_percent = ['unemployment rate', 'total tax rate', 'tax revenue', 'population labor force participation', 'out of pocket health expenditure', 'gross tertiary education enrollment', 'gross primary education enrollment', 'forested area', 'cpi change']

for columna in lista_percent:
    df[columna] = df[columna].str.replace('%', '')

In [101]:
df.sample()

,country,density,abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2 emissions,cpi,cpi change,currency code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population labor force participation,tax revenue,total tax rate,unemployment rate,urban population,latitude,longitude
96,Liberia,53,LR,28.00%,"111,369","2,000",33.04,231.0,Monrovia,"1,386",223.13,23.60,NaN,4.32,43.10,$0.80,"$3,070,518,100",85.10,11.90,53.5,63.7,661.0,$0.17,English,19.60,0.04,"4,937,374",76.30,12.90,46.20,2.81,"2,548,426",6.428055,-9.429499

Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [102]:
lista_dolar = ['gasoline price', 'gdp', 'minimum wage']

for columna in lista_dolar:
    df[columna] = df[columna].str.replace('$','')

In [103]:
df.sample()

,country,density,abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2 emissions,cpi,cpi change,currency code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population labor force participation,tax revenue,total tax rate,unemployment rate,urban population,latitude,longitude
36,China,153,CN,56.20%,"9,596,960","2,695,000",10.9,86.0,Beijing,"9,893,038",125.08,2.90,CNY,1.69,22.40,0.96,"19,910,000,000,000",100.20,50.60,7.4,77.0,29.0,0.87,Standard Chinese,32.40,1.98,"1,397,715,000",68.00,9.40,59.20,4.32,"842,933,962",35.86166,104.195397

Guarda el DataFrame para usarlo en el pairprogramming de mañana

In [104]:
df.to_csv('world-data-limpio.csv')