In [1]:
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer


import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

C:\Users\Isabel\AppData\Local\Temp\ipykernel_14392\193121011.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

1. Identificaci√≥n de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

In [2]:
df = pd.read_csv('pairprogramming_2.csv', index_col=0)

In [15]:
df_nulos = pd.DataFrame((df.isnull().sum() / df.shape[0]) * 100, columns = ["%_nulos"])

In [20]:
df_nulos_imputables = df_nulos[df_nulos['%_nulos'].between(0, 45)]

In [18]:
df_nulos

                                              %_nulos
Country                                      0.000000
Density\n(P/Km2)                             0.000000
Abbreviation                                 3.589744
Agricultural Land( %)                        3.589744
Land Area(Km2)                               0.512821
Armed Forces size                           14.871795
Birth Rate                                   3.076923
Calling Code                                 0.512821
Capital/Major City                           1.538462
Co2-Emissions                                6.153846
CPI                                         10.256410
CPI Change (%)                               8.205128
Currency-Code                                7.692308
Fertility Rate                               3.589744
Forested Area (%)                            3.589744
Gasoline Price                              10.256410
GDP                                        100.000000
Gross primary education enrollment (%)       3.589744
Gross tertiary education enrollment (%)      6.153846
Infant mortality                             3.076923
Life expectancy                              4.102564
Maternal mortality ratio                     7.179487
Minimum wage                                23.076923
Official language                            2.564103
Out of pocket health expenditure             3.589744
Physicians per thousand                      3.589744
Population                                  80.000000
Population: Labor force participation (%)    9.743590
Tax revenue (%)                             13.333333
Total tax rate                               6.153846
Unemployment rate                            9.743590
Urban_population                            76.923077
coordinates                                  0.000000
latitud                                      0.000000
longitud                                     0.512821

In [25]:
df.shape

(195, 35)

In [22]:
df_nulos_imputables.shape

(32, 1)

In [39]:
df_numericas2 = df.select_dtypes(include=['int', 'float'])

2. Selecci√≥n de M√©todo de Imputaci√≥n: Discute en tu compa√±era cu√°l ser√≠a la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.

In [29]:
imputer_iterative = IterativeImputer(max_iter = 10, random_state = 42)
iterative_imputado = imputer_iterative.fit_transform(df_numericas)

In [ ]:
iterative_imputado

In [ ]:
imputer_knn = KNNImputer(n_neighbors = 5)
knn_imputado = imputer_knn.fit_transform(df_numericas)
knn_imputado

In [37]:
df_numericas.shape

(32, 1)

In [36]:
df_total = df_numericas.assign(nulos_iterative=iterative_imputado, nulos_knn=knn_imputado)
df_total

,%_nulos,nulos_iterative,nulos_knn
Country,0.000000,0.000000,0.000000
Density\n(P/Km2),0.000000,0.000000,0.000000
Abbreviation,3.589744,3.589744,3.589744
Agricultural Land( %),3.589744,3.589744,3.589744
Land Area(Km2),0.512821,0.512821,0.512821
Armed Forces size,14.871795,14.871795,14.871795
Birth Rate,3.076923,3.076923,3.076923
Calling Code,0.512821,0.512821,0.512821
Capital/Major City,1.538462,1.538462,1.538462
Co2-Emissions,6.153846,6.153846,6.153846
CPI,10.256410,10.256410,10.256410
CPI Change (%),8.205128,8.205128,8.205128
Currency-Code,7.692308,7.692308,7.692308
Fertility Rate,3.589744,3.589744,3.589744
Forested Area (%),3.589744,3.589744,3.589744
Gasoline Price,10.256410,10.256410,10.256410
Gross primary education enrollment (%),3.589744,3.589744,3.589744
Gross tertiary education enrollment (%),6.153846,6.153846,6.153846
Infant mortality,3.076923,3.076923,3.076923
Life expectancy,4.102564,4.102564,4.102564
Maternal mortality ratio,7.179487,7.179487,7.179487
Minimum wage,23.076923,23.076923,23.076923
Official language,2.564103,2.564103,2.564103
Out of pocket health expenditure,3.589744,3.589744,3.589744
Physicians per thousand,3.589744,3.589744,3.589744
Population: Labor force participation (%),9.743590,9.743590,9.743590
Tax revenue (%),13.333333,13.333333,13.333333
Total tax rate,6.153846,6.153846,6.153846
Unemployment rate,9.743590,9.743590,9.743590
coordinates,0.000000,0.000000,0.000000
latitud,0.000000,0.000000,0.000000
longitud,0.512821,0.512821,0.512821

In [41]:
df_numericas2.shape

(195, 19)